{% extends 'base.html' %}
{% block title %}Inventory{% endblock %}

{% block body %}
<h1>Welcome to your inventory tracking system</h1>

<span>View a list of your current inventory items</span>
  <a href="/inventory/new">
    <button>Create a new item</button>
  </a>
  


<table border="1">
  <tr>
    <th>ID</th>
    <th>Item Name</th>
    <th>Item Quantity</th>
    <th>Edit</th>
    <th>Delete</th>
  </tr>
  {% for item in all_inventory %}
  <tr>
    <td>{{ item.id }}</td>
    <td>{{ item.name }}</td>
    <td>{{ item.qty }}</td>
    <td>
      <form action="/inventory/{{ item.id }}">
        <button type="submit">Edit</button>
      </form>
    </td>
    <td>
      <form action="/inventory/{{ item.id }}">
        <button type="submit">Delete</button>
      </form>
    </td>
  </tr>
  {% endfor %}
</table>

{% endblock %}