{% extends 'base.html' %}
{% block title %}New Inventory{% endblock %}

{% block body %}
<h2>Create a new item in your inventory list</h2>
<div>
  <form action="/inventory/new" method="POST">
    <label for="new-inventory">Product name:</label>
    <input type="text" id="new-inventory" name="name" required/>
    <br></br>
    <label for="new-inventory-qty">Quantity:</label>
    <input type="number" id="new-inventory-qty" name="qty" required/>
    <br></br>
    <label for="warehouse-select">Warehouse:</label>
    <select name="warehouse-id" id="warehouse-select">
      <option value="">
        Unassigned 
      </option>
      {% for warehouse in warehouses %}
        <option value="{{ warehouse.id }}">
          {{ warehouse.name }}
        </option>
      {% endfor %}
    </select>
    <a href="/warehouse/new">Click to add a warehouse</a>
    <br></br>
    <button type="submit">Add</button>
  </form>
</div>
<br></br>
<a href="/">Return to Homepage</a>
{% endblock %}